<div class="card componentStyle">
    <table>
        <tr>
            <td style="width: 48%;text-align: center;">
                <img style="border-radius: 50%;height: 200px;width: 200px;" [src]="imgUrl">

            </td>
            <td style="width: 4%;">
                <div style="border-left: 3px solid green;height: 100px"></div>
            </td>
            <td style="width: 48%;">
                <h5>
                    Hello Everyone...!
                    This is <span style="color: #e063b0;">'Sreeram Kondagorla'</span><br>
                    A software proffessional with 5+ years of real time experience and
                    I'm here to teach how to <span style="color: #e063b0;">#code</span>.
                </h5>
            </td>
        </tr>
    </table>
</div>