<div class="card componentStyle">
    <table style="margin: auto;width: 950px;">
        <tr>
            <td style="width: 40%;">
                <img style="border-radius: 50%;height:250px;width:250px" [src]="imgUrl">
            </td>
            <td style="width: 10%;">
                <div style="border-left: 3px solid green;height: 200px;"></div>
            </td>
            <td style="width: 50%;">
                <div class="card">
                    <div class="card-header text-center">
                        <b>{{title}}</b>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="txtEmail" class="form-label">Email Address</label>
                            <input [(ngModel)]="emailAddress" id="txtEmail" name="txtEmail" type="text"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="txtPassword" class="form-label">Password</label>
                            <input [(ngModel)]="password" id="txtPassword" name="txtPassword" type="password"
                                class="form-control">
                        </div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <button type=" button" (click)="login()" class="btn btn-primary">
                            Login</button> &nbsp;
                        <button type=" button" class="btn btn-secondary">
                            Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>