<div class="card componentStyle">
    <div class="card text-center">
        <div class="card-header">
            Course Details
        </div>
        <div class="card-body">
            <h5 class="card-title">{{courseModel.name}}</h5>
            <p class="card-text">Duration : {{courseModel.duration}}</p>
            <p class="card-text">Faculty : {{courseModel.faculty}}</p>
            <p class="card-text">Instituion : {{courseModel.instituion}}</p>
            <p class="card-text">Fee : {{courseModel.fee | currency:'INR'}}</p>
        </div>
    </div>
</div>